@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&display=swap');
* {
  margin: 0
}

body{
  background-color: #dfcad6;
}

.nav-container {
  margin: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;


}

.nav-item {
  font-family: 'Abril Fatface', cursive;
  font-size: 20px;
  list-style: none;
  margin-top: 30px;
  margin-right: 4rem;
}

.nav-item:first-child {
  margin-right: auto;
  margin-left: 5rem;

  font-size: 25px;
  color: #344341;
}

.call-to-action{
  padding: 5px;
  width: 100px;
  background-color: #a3b18a;
  border: none;
}

.landing-container {
  
  height: 91vh;
  
}

.landing-name, .landing-title{
  position: absolute;
  font-family: 'Nanum Myeongjo', serif;
}
.landing-name{
  top:280px;
  left:77px;
  font-size: 40px;
  
  
}
.landing-title {
  top: 325px;
  left: 75px;
  font-size: 70px;
}


.custom-shape-divider-bottom-1663259355 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;

  
}

.custom-shape-divider-bottom-1663259355 svg {
  position: relative;
  display: block;
  width: calc(151% + 1.3px);
  height: 338px;

  
}

.custom-shape-divider-bottom-1663259355 .shape-fill {
  fill: #344341;
}

/* ABOUT SECTION */

.about-section {
  background-color: #344341;
  /* height: 100vh; */
  display: flex;
}

.skills-icon {
  width: 70px;
}

.custom-shape-divider-bottom-1665102284 {
  position: absolute;
  bottom: 50;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-bottom-1665102284 svg {
  position: relative;
  display: block;
  width: calc(133% + 1.3px);
  height: 245px;
  transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1665102284 .shape-fill {
  /* fill: #DFCAD6; */
  fill: red;
}




/* Projects section  */

.project-section {
  height: 100vh;
}
