@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&display=swap');
* {
  margin: 0
}

body{
  background-color: #dfcad6;
}

.nav-container {
  margin: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;


}

.nav-item {
  font-family: 'Abril Fatface', cursive;
  font-size: 20px;
  list-style: none;
  margin-top: 30px;
  margin-right: 4rem;
}

.nav-item:first-child {
  margin-right: auto;
  margin-left: 5rem;

  font-size: 25px;
  color: #344341;
}

.call-to-action{
  padding: 5px;
  width: 100px;
  background-color: #a3b18a;
  border: none;
}

.landing-container {
  
  height: 91vh;
  
}

.landing-name, .landing-title{
  position: absolute;
  font-family: 'Nanum Myeongjo', serif;
}
.landing-name{
  top:280px;
  left:77px;
  font-size: 40px;
  
  
}
.landing-title {
  top: 325px;
  left: 75px;
  font-size: 70px;
}


.custom-shape-divider-bottom-1663259355 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;

  
}

.custom-shape-divider-bottom-1663259355 svg {
  position: relative;
  display: block;
  width: calc(151% + 1.3px);
  height: 338px;

  
}

.custom-shape-divider-bottom-1663259355 .shape-fill {
  fill: #344341;
}

/* ABOUT SECTION */

.about-section {
  background-color: #344341;
  display: flex;
  height: 90vh;
  /* border: 2px solid blue; */
}

.skills-icon {
  width: 70px;
}

.about-me {
  /* border: 2px solid red; */
  width: 40%;
  margin-left: 80px;
}

.about-me-header {
  margin-bottom: 20px;
  text-align: center;
}

.my-skills {
  /* border: 2px solid red; */
  margin-left:190px;

}

.skills-header {
  margin-bottom: 20px;
  text-align: center;
}

.skills-grid {
  display: grid;
  grid-template-columns: repeat(4, 150px);
  grid-template-rows: repeat(2, 130px);
}


.about-section-wave {
  position: absolute;
  bottom: -707px;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.about-section-wave svg {
  position: relative;
  display: block;
  width: calc(151% + 1.3px);
  height: 338px;
}

.about-section-wave  .shape-fill {
  fill: #dfcad6 ;
}







/* Projects section  */

.project-section {
  height: 100vh;
}


.project-section-wave{
  position: absolute;
  bottom: -1493px;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}


.project-section-wave svg {
  position: relative;
  display: block;
  width: calc(151% + 1.3px);
  height: 338px;
}

.project-section-wave  .shape-fill {
  fill: #a3b18a ;
}


/* Contact Section */

.contact-section {
  background-color: #a3b18a;
  height: 80vh;
  margin: 0 auto;
}


.contact-form {
  display: flex;
  flex-direction: column;
}

.contact-form-header {
  text-align: center;
  margin-bottom: 40px;
  font-size: 50px;
}

.contac-form-div {
  display: flex;
  flex-direction: row;

}

.first-name-input {
  margin-right: 100px;
  margin-bottom: 10px;
}

#message {
  width: 500px;
  height: 300px;
}

#email{
  width: 500px;
  margin-bottom: 10px;
}

#subject {
  width: 500px;
  margin-bottom: 10px;
}

.form {
  margin: 0 auto;
  width: 35%;
}

